/* General styles */
.login-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.login-section {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
}

.login-content {
  text-align: center;
}

.login-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #004d7a;
}

/* Input Group */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #004d7a;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
  margin-top: 5px;
}

.input-group input:focus {
  outline: none;
  border-color: #00b4d8;
}

/* Password container with eye icon */
.password-container {
  position: relative;
  width: 100%; /* Ensures the input takes up full width */
}

.password-container input {
  padding-right: 30px; /* Add padding to make space for the icon */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #004d7a;
  font-size: 1.2rem;
}

/* Forgot password link */
.forgot-password {
  text-align: left;
  margin-bottom: 20px;
}

.forgot-password a {
  font-size: 0.9rem;
  color: #00b4d8;
  text-decoration: none;
  font-weight: bold;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Buttons */
.login-btn,
button {
  background-color: #00b4d8;
  color: white;
  padding: 12px 40px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  margin-bottom: 20px;
  font-weight: bold;
}

input[type="button"] {
  color: black;
}

.login-btn:hover {
  background-color: #004d7a;
}

/* Register link */
.register-link {
  font-size: 1rem;
}

.register-link p {
  color: #333;
}

.register-link a {
  color: #00b4d8;
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
  color: #004d7a;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-section {
    padding: 30px;
  }

  .login-title {
    font-size: 2rem;
  }

  .login-btn {
    padding: 10px 30px;
  }
}
