body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #303336;
    color: #f7f4f4;
    overflow-x: hidden;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  .ComponetButtons.active {
    color: #004d7a;
    background-color: #ffffff;
    border: 1px solid white;
  }
  
   .ComponetButtons:hover {
    color: white;
    transform: scale(1.03);
    box-shadow: 0 0 10px #ffffff;
    background-color: transparent;
  } 
  
  .HeaderLinks {
    display: flex;
    justify-content: space-around;
  }
  
  .NavBar button {
    background-color: transparent;
    width: auto;
  }
  
  .header_Comp {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid #1f81cc;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right, #004d7a, #00b4d8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .webName h3 {
    color: white;
  }
  
  .webName {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
  }
  
  .BankName {
    text-decoration: none;
    color: white;
  }
  
  .NavBar {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 75%;

  }
  
  .ComponetButtons {
    text-decoration: none;
    color: #fafafa;
    /* font-family: monospace; */
    border-radius: 3px;
    border: none;
    padding: 5px;
    transition: all 0.3s ease;
    font-size: medium;
  }

  .HeaderLinks
  {
    display: flex;
    justify-content: space-around;
  }
 .NavBar button
  {
    background-color: transparent;
    width: auto;
  }
  
  #signout {
    background-color: transparent;
    padding: 5px 10px;
  }

  #signout:hover
  {
    background-color: red;
  }
  
  .HeaderLinks
  {  
    display: flex;
    flex: 0 0 60%;
    justify-content: space-around;
  }
  .logoutBuuton
  {
    display: flex;  
    flex: 0 0 15%;
  }
  
  /* Hamburger Menu (top-left) */
  .hamburger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
  }

  .NavBar {
    transition: all 0.3s ease-in-out; 
  }
  
  .NavBar.open {
    display: block; 
     
  }

  
  
  @media (max-width: 768px) {
    .header_Comp {
      flex-direction: column;
      height: auto;
      padding: 10px;
      justify-content: flex-start;
    }
  
    .NavBar {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      flex: 0 0 70%;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #01305f;
      z-index: 999;
      flex-direction: column;
      padding-top: 60px;
      transition: transform 0.3s ease;
      transform: translateX(-100%);
    }
  
    .NavBar.open {
      transform: translateX(0);
    }
    .HeaderLinks
    {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      color: white;
    }
  
    .link {
      font-size: medium;
      padding: 10px;
      width: 100%;
      text-align: left;
    }
  }
  